*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f0f0;
}
.search-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #3f60d9;
}
.search-input {
  border-radius: 5px;
}
.submit-btn {
  border-radius: 5px;
}
